<!DOCTYPE html>
<html lang="en">

<head>
    <title>Categoriser Tool</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header">
        <h3 class="text-muted">Comment Sentiment Categoriser</h3>
    </div>

    <a href="/generate">
        <button class="btn btn-primary btn-block" id="" strt_btn>Start</button>
    </a>

</div>
</body>

</html>