<!DOCTYPE html>
<html lang="en">

<head>
    <title>Categoriser Tool</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>


<div class="container">
    <div class="jumbotron">
        <p>Comment Text</p>
    </div>
    <div class="row">
        <div class="col col-sm-4"><button type="button" class="btn btn-block btn-success btn-lg">Positive</button></div>
        <div class="col col-sm-4"><button type="button" class="btn btn-block btn-danger btn-lg">Negative</button></div>
        <div class="col col-sm-4"><button type="button" class="btn btn-block btn-info btn-lg">Spam</button></div>
    </div>
</div>

</body>

</html>